APP_DB_USER=postgres
APP_DB_PASSWORD=change-app-db-password

KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-keycloak-db-password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-keycloak-admin-password
KEYCLOAK_ADMIN_CLIENT_SECRET=change-keycloak-admin-client-secret

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-minio-password

SEQ_ADMIN_PASSWORD=change-seq-admin-password

DEMO_ADMIN_PASSWORD=change-demo-admin-password
DEMO_TEACHER_PASSWORD=change-demo-teacher-password
DEMO_EMPLOYEE_PASSWORD=change-demo-employee-password
